* {
    margin: 0;
    padding: 0;
/*    background: #636e72*/
}

.left {
    float: left;
}

.right {
    float: right;
}

.navbar {
    width: 100%;
    height: 48px;
 /*   background: #b2bec3;*/
    background: black;
}

.navbar ul, li {
    display: inline-block;
    height: 100%;
}

.navbar ul li a {
    line-height: 48px;
    display: inline-block;
    height: 100%;
    color: white;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-decoration: none;
/*    background-color: #00cec9;*/
}

.navbar ul li a:hover{
    color: blue;
    cursor: pointer;
}

input[type="submit"] {
    background-color: #6c5ce7;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.notelist {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.notelist .note {
    width: 95%;
    height: 40px;
    background-color: #6c5ce7;
    color: white;
    box-sizing: border-box;
    margin: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 0.5rem;
    text-align: center;
}

.noteform {
    width: 90%;
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.noteform textarea {
    width: 100%;
    height: 20px;
}

.playlistheader {
    margin: 0.5rem;
}

.nowplayingheader {
    margin: 0.5rem;
}

.nowplaying {
    width: 95%;
    height: 40px;
    background-color: #fdcb6e;
    color: black;
    box-sizing: border-box;
    margin: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 0.5rem;
    text-align: center;
}

textarea {
    resize: none;
}

.input[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.howreq ol li{
    display: list-item;
    list-style-position: inside;
    padding-left: 5%;
}

.howreq ul{
    text-indent: 0.5rem;
}