<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Jukebox</title>
    <link rel="stylesheet" href={{ url_for("static", filename="assets/bootstrap/css/bootstrap.min.css")}}>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arbutus+Slab">
    <link rel="stylesheet" href={{ url_for("static", filename="assets/fonts/fontawesome-all.min.css")}}>
    <link rel="stylesheet" href={{ url_for("static", filename="assets/fonts/font-awesome.min.css")}}>
    <link rel="stylesheet" href={{ url_for("static", filename="assets/fonts/fontawesome5-overrides.min.css")}}>
    <link rel="stylesheet" href={{ url_for("static", filename="assets/css/Animated-Text-Background.css")}}>
    <link rel="stylesheet" href={{ url_for("static", filename="assets/css/Bootstrap-4---Timeline.css")}}>
    <link rel="stylesheet" href={{ url_for("static", filename="assets/css/Button-Outlines---Pretty.css")}}>
    <link rel="stylesheet" href={{ url_for("static", filename="assets/css/dh-navbar-inverse.css")}}>
    <link rel="stylesheet" href={{ url_for("static", filename="assets/css/Navigation-Clean.css")}}>
    <link rel="stylesheet" href={{ url_for("static", filename="assets/css/Pretty-Search-Form.css")}}>
    <link rel="stylesheet" href={{ url_for("static", filename="assets/css/styles.css")}}>
</head>

<body>

    <div class="d-flex justify-content-center align-items-center" id="animatedTextBackground">
        <h1 id="animatedTextHeading">
            {{ heading_text_one }}
            <br>
            {{ heading_text_two }}
        </h1>
        <a class="btn btn-link border-pretty" role="button" style="color:#ce9c95;" href="#search">
            <i class="fas fa-search"></i>
        </a>
        <a class="btn btn-link border-pretty" role="button" style="color:#ce9c95;" href="#timeline">
            <i class="fas fa-music"></i>
        </a>
    </div>


    <form method="POST" id="search" class="search-form">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-search"></i>
                </span>
            </div>
            <input class="form-control" type="text" placeholder="I am looking for.." name="songLink" id="songLink">
            <div class="input-group-append">
                <button class="btn btn-light" type="submit" name="linkSubmit">Search </button>
            </div>
        </div>
    </form>


    <div class="timeline">
    <div class="container py-5">

        <div class="row">
            <div class="col-lg-7 mx-auto">
                
                <!-- Timeline -->
                <ul class="timeline">
                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                        <h2 class="h5 mb-0">Title of section 1</h2><span class="small text-gray"><i class="fa fa-clock-o mr-1"></i>21 March, 2019</span>
                        <p class="text-small mt-2 font-weight-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales vehicula....</p>
                    </li>
                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                        <h2 class="h5 mb-0">Title of section 2</h2><span class="small text-gray"><i class="fa fa-clock-o mr-1"></i>5 April, 2019</span>
                        <p class="text-small mt-2 font-weight-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper.</p>
                        <p class="text-small mt-2 font-weight-light">Libero expedita explicabo eius fugiat quia aspernatur autem laudantium error architecto recusandae natus sapiente sit nam eaque, consectetur porro molestiae ipsam! Deleniti.</p>
                    </li>
                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                        <h2 class="h5 mb-0">Title of section 3</h2><span class="small text-gray"><i class="fa fa-clock-o mr-1"></i>18 August, 2019</span>
                        <p class="text-small mt-2 font-weight-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales vehicula....</p>
                    </li>
                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                        <h2 class="h5 mb-0">Title of section 4</h2><span class="small text-gray"><i class="fa fa-clock-o mr-1"></i>10 October, 2019</span>
                        <p class="text-small mt-2 font-weight-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales vehicula....</p>
                        <p class="text-small mt-2 font-weight-light">Voluptatibus temporibus esse illum eum aspernatur, fugiat suscipit natus! Eum corporis illum nihil officiis tempore. Excepturi illo natus libero sit doloremque, laborum molestias rerum pariatur quam ipsam necessitatibus incidunt, explicabo.</p>
                    </li>
                </ul><!-- End -->

            </div>
        </div>
    </div>
    </div>
        <script src={{ url_for("static", filename="assets/js/jquery.min.js")}}></script>
        <script src={{ url_for("static", filename="assets/bootstrap/js/bootstrap.min.js")}}></script>
        <script src={{ url_for("static", filename="assets/js/Animated-Text-Background.js")}}></script>
</body>

</html>