{% extends 'layout.html' %}

{% block content%}
    <form method="POST" class="noteform">
        <label for="notetext">
            <h2>Song Request</h2>
            <textarea name="notetext" id="notetext"></textarea>
        </label>
        <input type="submit" name="createnote" value="Request">
    </form>
{% endblock %}
<body>
    <h2 style="text-align: center;">How to Make a Request:</h2>
    <ol>
        <li style="text-align: left;">Look your song up on YouTube, try to find a video that contains the official audio/lyrics to ensure that there are no extra things in the song
            <ol style="list-style-type: lower-alpha;">
                <li style="text-align: left;">Sometimes, they like to get a little funky and add extra things into the music video that take away from the listening experience</li>
            </ol>
        </li>
        <li>Copy the link to your song (you might need to click "share" on mobile)</li>
        <li>Paste the link in the form (above)</li>
        <li>Click "Request", the page will begin to load (this might take a few moments, just be patient)</li>
        <li>You will be brought back to the queue, you should see your song on there!</li>
    </ol>
</body>